<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="Conexion" connectionString="Server =.;DataBase=MasterEA; Integrated Security=SSPI"/>-->
    <add name="Conexion" connectionString="Server =DESKTOP-B3IP6AD\MANI;DataBase=MasterEA; Integrated Security=SSPI; MultipleActiveResultSets=True"/>

    <!--<add name="Conexion" connectionString="Server =.;DataBase=MasterEA; Integrated Security=SSPI" />
    <add name="AdminAssistant.My.MySettings.EasyEnglishConnectionString"
      connectionString="Data Source=PRO;Initial Catalog=EasyEnglish;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AdminAssistant.My.MySettings.EasyEnglishConnectionString1"
      connectionString="Data Source=DESKTOP-B3IP6AD\MANI;Initial Catalog=EasyEnglish;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AdminAssistant.My.MySettings.MasterEAConnectionString"
      connectionString="Data Source=DESKTOP-B3IP6AD\MANI;Initial Catalog=MasterEA;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AdminAssistant.My.MySettings.MasterEAConnectionString1"
      connectionString="Data Source=PRO;Initial Catalog=MasterEA;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>
<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      
      
      
      <add name="Conexion"
           connectionString="Server = PRO;DataBase=MasterEA; Integrated  
       Security=SSPI"/>
        --><!--<add name="AdminAssistant.My.MySettings.EasyEnglishConnectionString"
            connectionString="Data Source=PRO;Initial Catalog=EasyEnglish;Integrated Security=True"
            providerName="System.Data.SqlClient" />--><!--
        --><!--<add name="AdminAssistant.My.MySettings.EasyEnglishConnectionString1"
            connectionString="Data Source=DESKTOP-B3IP6AD\MANI;Initial Catalog=EasyEnglish;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AdminAssistant.My.MySettings.MasterEAConnectionString"
            connectionString="Data Source=DESKTOP-B3IP6AD\MANI;Initial Catalog=MasterEA;Integrated Security=True"
            providerName="System.Data.SqlClient" />--><!--
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>-->
